.template{
    background:rgb(50, 50, 51);
    border-radius: 10px;
    border:1px solid rgb(50, 50, 51);
    margin:1%;
    height:30%;
    display: flex;
    padding:.5%;
    justify-content: space-between;
}

p{
    color:rgb(231, 226, 226);
}